<%= form_for([@request, @request.samples.build]) do |f| %>
  <%= f.text_field :tank,  placeholder: "New Tank" %>
  <%= f.text_field :lot_id,  placeholder: "Lot ID" %><br>
  <span class="form"><%= f.select :sample_size, ['250mL', '375mL','750mL'] %>
  <%= f.submit "Add Sample" %>
<% end %></span><br>

<span><%= form_tag import_request_samples_path(@request, params[:sample_size]), multipart: true do |f| %>
  <img src="https://png.icons8.com/color/64/000000/xls.png">
  <%= file_field_tag :file %>
   
 <span class ="import"><%= submit_tag "Import" %><%= select_tag( :sample_size, options_for_select(['250mL','375mL','750mL']))%>
  
<% end %></span></span>