

<div id="<%=sample.id%>" class="row uk-list-divider"> 
	<% if sample.empty? %>
		<div class="complete">
				<img src="https://png.icons8.com/windows/30/000000/hibernate.png">
			<br><br>
			<%=sample.sample_size%>	
		</div>
		<div class="empty">
			<p>TANK <%= sample.tank%> IS EMPTY</p>
		</div>
		<div class="right-block">
			<div class="set-empty">
				<%= link_to remove_empty_request_sample_path(@request, sample.id), method: :patch do %>
					<span uk-tooltip="title: Undo Empty" ><%=image_tag("minus-sign-32.png")%></span>
				<% end %>
			</div>
			<div class="trash"  uk-tooltip="title: Delete Sample">
				<%= link_to request_sample_path(@request, sample.id), method: :delete, data: { confirm: "Are you sure?" } do %>
					<span uk-tooltip="title: Delete Sample"><%=image_tag("trash-32.png")%></span>
				<% end %>
			</div>
		</div>
	<%end%>
	<% if sample.completed? %>
		<div class="complete">
			<%= link_to remove_complete_request_sample_path(@request, sample.id), method: :patch do %>
				<span  uk-tooltip="title: Undo Complete"><%=image_tag("Doc_Ex-64.png")%></span>
	        	<% end %><br><br>
			<%=sample.sample_size%>
		</div>
		<div class="completed" >
			<p style="opacity: 0.4;">
				<strike><%= sample.tank %></strike>|
				   <strike><%= sample.lot_id %></strike>
				<img src="https://png.icons8.com/nolan/30/000000/checkmark.png">
			</p>

			
			
			<%=sample.sample_size%> Sample of tank <%= sample.tank %> collected:<br> <%= sample.time_completed.strftime("%A,  %B %d @ %H:%M:%S")%></li>
		</div>
		<div class="right-block">
			<div class="set-empty">
				
					<img src="https://png.icons8.com/nolan/30/000000/high-priority.png">
				
			</div>
			<div class="trash">
				<%= link_to request_sample_path(@request, sample.id), method: :delete, data: { confirm: "Are you sure?" } do %>
					<span uk-tooltip="title: Delete Sample"><%=image_tag("trash-32.png")%></span>
						<% end %>
			</div>
		</div>
	<% elsif !sample.empty? %>
		<div class="complete">
			<span  uk-tooltip="title: Mark Sample Complete"><%= link_to complete_request_sample_path(@request, sample.id), method: :patch do %>
				
				<%=image_tag('blueCheck-64.png')%></span>
	        	<% end %><br><br>
				
			<%=sample.sample_size%>
		</div>
		<div class="sample" >
			<p><%= sample.tank %></p>
			<%= sample.lot_id %>  
		</div>
		<div class="right-block">
			<div class="set-empty">
				<%= link_to set_as_empty_request_sample_path(@request, sample.id),  method: :patch do %>
					<span  uk-tooltip="title: Mark Tank Empty"><%= image_tag("empty32.png")%></span>
				<% end %>
			</div>
			<div class="trash">
				<%= link_to request_sample_path(@request, sample.id), method: :delete, data: { confirm: "Are you sure?" } do %>
					<span uk-tooltip="title: Delete Sample"><%=image_tag("trash-32.png")%></span>
					<% end %>
			</div>
		</div>
	<% end %>

</div>
