<p id="notice"><%= notice %></p>
<div class="show-recurrence">
    <h5 class="request_title">
    
    <%= @recurrence.title %>
    </h5>

    <h6 class="request_sub_title">
    
    <%= @recurrence.description %>
    </h6>
    <div class="box">
        <h7 >
        <strong>Start</strong>
        </h7>
        <p><%= @time.strftime("%A,  %B %d @ %H:%M:%S") %></p>
        <br>
    </div>
    <div class="box">
        <h7><strong>Recurring</strong></h7>
        <p><%= @recurrence.recurring %></p>
    </div>
</div>
<div class= "links">
<%= link_to "Delete", recurrence_path(@recurrence), method: :delete %> |
<%= link_to 'Edit', edit_recurrence_path(@recurrence) %> |
<%= link_to 'Back', recurrences_path %> |
</div>