<hi>Request</h1>
<p>Title: <%= @request['title']%></p>
<p>Description: <%=@request['description'] %></p>
<p>Due: <%=@request['due_date'] %></p>
<li>
<%= link_to "edit", edit_request_path(request[:id]) %>-
<%= link_to 'delete', request_path(@request), method: :delete, data: { confirm: "Are you sure you want to delete this request?" }%>
</li><br>
<%= link_to "Back to Request List", requests_path%>